# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/

# Ignore app data
Siamese Neural Network/app/data
# app/data/anchor/
# app/data/positive/
# app/data/negative
Siamese Neural Network/lfw-deepfunneled/
Siamese Neural Network/app/application_data
Siamese Neural Network/app/face_model/*.pth
Siamese Neural Network/app/face_model/*.pth
