# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/

# Ignore app data
app/data
# app/data/anchor/
# app/data/positive/
# app/data/negative
lfw-deepfunneled/
app/application_data